*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  place-content: center;
  background: #050e1d;
  color: #ADADAD;
  height: 100vh;
  padding: 2em;
}

.container {
  width: 90%;
  padding: 3em;
  background: #050e1d;  /* fallback for old browsers */
  ackground: -webkit-linear-gradient(to bottom, #23232771, #050e1d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #23232771, #050e1d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 7px;
  border: 1px solid #adadad10;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.input-container, .textarea-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.75em;
}

.input-container label,
.textarea-container label {
  padding: 0 0 .5em .25em;
}

input[type=text],
input[type=email], 
textarea,
button {
  padding: 0.25em 2em;
  border-radius: 7px;
  border: none;
  outline: none;
  background: #2c2c2c;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
} 

input[type=text],
input[type=email] {
  width: 100%;
  height: 50px;
}

.input-styles {
  margin-bottom: 2em;
}

.input-styles:last-child {
  margin-bottom: 0;
}

textarea {
  width: 100%;
  resize: none;
  padding-top: 1.25em;
}

button {
  margin-top: 1.75em;
  padding: 1em 2em;
  cursor: pointer;
  width: 150px;
}

.recaptcha {
  margin-top: 1.75em;
}